@model Pizza_App.Models.orden

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>Estas seguro que quieres borrarlo?</h3>
<div>
    <h4>orden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_solicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_solicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pizza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pizza.descripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_orden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado_orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado_orden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.nombre_usuario)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a Lista</a>
    </form>
</div>
