@model Pizza_App.Models.orden

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>orden</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_solicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_solicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pizza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pizza.nombre_pizza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_orden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado_orden)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.estado_orden == 1)
                { <span>ENTREGADO</span>
                }
                else if (Model.estado_orden == 2)
                { <span>PENDIENTE DE ENTREGA</span>
                }
                else if (Model.estado_orden == 3)
                        { <span>CANCELADO</span> }

            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario.nombre_usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar a Lista</a>
</div>
