@model IEnumerable<Pizza_App.Models.pendingOrders>

@{
    ViewData["Title"] = "Lista de Ordenes Pendientes de entrega";
}

<div>
    <a asp-action="CatalogoPizza" asp-controller="pizza">Ver catalogo de Pizzas</a><br>
    <a asp-action="Create" asp-controller="orden">Agregar una nueva Orden</a>
</div>
<br>
<br>
<h4>Informe de Ordenes Pendientes de Entrega ordenadas por orden de llegada</h4><br />
<table class="table">
    <thead>
        <tr>
            <th>
                Numero de Orden
            </th>
            <th>
               Solicitante
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Total Orden
            </th>
            @if (User.IsInRole("ADMIN"))
            {
                <th> Usuario Orden</th>
             }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.numeroOrden)
            </td>
            <td>
                @Html.DisplayFor(model => item.solicitanteOrden)
            </td>
            <td>
                @Html.DisplayFor(model => item.cantidadOrden)
            </td>
            <td>
                @Html.DisplayFor(model => item.precioOrden)
            </td>
            <td>
                @Html.DisplayFor(model => item.totalOrden)
            </td>
            @if (User.IsInRole("ADMIN"))
            {
                <td>   @Html.DisplayFor(model => item.usuarioOrden)</td>
            }
        <td>  <a asp-action="Edit" asp-route-id="@item.numeroOrden">Editar</a> </td>

        </tr>
                }
        </tbody>
    </table>
